body {
    overflow: hidden;
}

p {
    font-size: 30px;
    font-weight: bold;
}

button {
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.arrowWrap {
    margin: 1 rem;
}

.arrowWrap img {
    transition: transform 2s cubic-bezier(0.530, -0.600, 0.290, 1.650);
    width: 30%;
}

/* https://matthewlein.com/tools/ceaser 참조 */