@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    overflow: hidden;
    font-family: 'Do Hyeon', sans-serif;
    background: #cec4ce;
}

h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;

    .cardItem {
        position: absolute;
        width: 200px;
        height: 100px;
        padding: 15px;
        text-align: right;
        border-radius: 10px;
        box-shadow: 5px 5px 12px rgba(0,0,0,0.3);
        font-size: 1rem;
        color: rgba(255,255,255,0.5);

        &:nth-child(1){
            background: linear-gradient(62deg, #FBAB7E, #F7CE68);
        }
        &:nth-child(2){
            background: linear-gradient(20deg, #FF5E7E, #FF99AC);
        }
        &:nth-child(3){
            background: linear-gradient(160deg, #0093E9, #80D0C7);

        }
        &:nth-child(4){
            background : linear-gradient(40deg, #fd1d1d, #833ab4);
        }
        &:nth-child(5){
            background: linear-gradient(20deg, black 0%, #FC00FF 100%);
        }
    }
}

.btnWrap {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-40%);

    button {
        position: relative;
        z-index: 100;
        padding: 8px 20px;
        margin: 0 5px;
        background: #000;
        color: #fff;
        transition: all 0.3s ease-out;

        &:hover, &.active {
            background-color: #970000;
        }
    }
}